<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title>google-map-directive</title>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="myController">
    <div class="container-fluid">
    <header>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.golivelabs.io/">Go Live!</a>
            </div>
            <form novalidate class="navbar-form pull-right" name="myForm">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="new name" ng-model="user.name" required>
                    <input class="form-control" type="number" placeholder="new latitude" ng-model="user.lat" step="0.01"required>
                    <input class="form-control" type="number" placeholder="new longitude" ng-model="user.lon" step="0.01"required>
                    <button id="submit-btn"type="submit" class="btn btn-info form-control" ng-click="add(user)">Add!</button>
                </div>
            </form>
        </nav>
    </header>
        <div class="row">
            <div class="col-sm-9 col-sm-push-3">
                <div class="row">
                    <div googlemap markers="users"></div>
                </div>
            </div>
            <div class="col-sm-3 col-sm-pull-9">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>name</td>
                            <th>latitude</td>
                            <th>longitude</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="eachUser in users">
                            <td>{{eachUser.name}}</td>
                            <td>{{eachUser.lat}}</td>
                            <td>{{eachUser.lon}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>
</html>